@model sms.Models.Student
@{
    ViewBag.Title = "StudentDetails";
}

<!-- Display student information -->
<div id="details">
    <h2>Student Details</h2>
    <p>Student ID: @Model.StdID</p>
    <p>Name: @Model.FirstName @Model.LastName</p>

    <!-- Display associated teachers and their subjects -->
    <h3>Teachers and Subjects</h3>
    <ul>
        @foreach (var teacher in Model.Teachers)
        {
            <li>@teacher.FirstName @teacher.LastName</li>
            <ul>
                @foreach (var subject in teacher.Subjects)
                {
                    <li>@subject.Name</li>
                }
            </ul>
        }
    </ul>
</div>

    @Html.ActionLink("Back to Student list", "Index", "Students", new { id = ViewBag.StudentId }, new { @class = "btn btn-primary" })