@model sms.Models.Student

@{
    ViewBag.Title = "Student Details";
}
<div>
    <h4>Student Information</h4>
    <p>Student ID: @Model.StdID</p>
    <p>Name: @Model.FirstName @Model.LastName</p>
</div>

@if (Model.Student_Subject_Teacher_Allocation.Any())
{
    <div>
        <h4>Teachers and Subjects</h4>
        <ul>
            @foreach (var allocation in Model.Student_Subject_Teacher_Allocation)
            {
                <li>
                    <strong>@allocation.Teacher.FirstName @allocation.Teacher.LastName</strong> teaches <em>@allocation.Subject.Name</em>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div>
        <p>No teacher or subject information available.</p>
    </div>
}



<script>
   
</script>
