@model IEnumerable<sms.Models.Student>
@{
    ViewBag.Title = "Index";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StdID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Details", "Details", new { id = item.StdID }, new { @class = "btn btn-outline-secondary" })
                <button class="btn btn-danger" onclick="confirmDelete('@item.StdID')">Delete</button>
            </td>
        </tr>
    }

</table>
<script>
    function confirmDelete(teacherId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this teacher!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If user confirms deletion, redirect to delete action
                window.location.href = '@Url.Action("Delete", "Teachers")/' + teacherId;
            }
        });
    }
</script>

