@model sms.Models.Subject

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-6">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Sub_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sub_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sub_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-check">
            @Html.CheckBoxFor(model => model.Enable, new { @class = "form-check-input" })
            <label class="form-check-label" for="Enable">
                Enable
            </label>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default m-4" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

 <script>
     function toggleEnable(id, enable) {
         $.ajax({
             url: '/Subjects/ToggleEnable',
             type: 'POST',
             data: { id: id, enable: enable },
             success: function (response) {
                 if (response.success) {
                     loadData();
                     Swal.fire('Success!', response.message, 'success');
                 } else {
                     Swal.fire('Error!', response.message, 'error');
                 }
             },
             error: function (error) {
                 console.log(error);
                 Swal.fire('Error!', 'An error occurred while toggling student enable status.', 'error');
             }
         });
     }

 </script>