@model sms.Models.Subject

@{
    ViewBag.Title = "Subject Details";
}

<div>
    <h4>Subject Information</h4>
    <p>Subject Code: @Model.Sub_code</p>
    <p>Name: @Model.Name</p>
</div>

@if (Model.Teachers != null && Model.Teachers.Any())
{
    <div>
        <h4>Teachers</h4>
        <ul>
            @foreach (var teacher in Model.Teachers)
            {
                <li>@teacher.FirstName @teacher.LastName</li>
            }
        </ul>
    </div>
}

@if (Model.Student_Subject_Teacher_Allocation != null && Model.Student_Subject_Teacher_Allocation.Any())
{
    <div>
        <h4>Students</h4>
        <ul>
            @foreach (var allocation in Model.Student_Subject_Teacher_Allocation)
            {
                <li>@allocation.Student.FirstName @allocation.Student.LastName</li>
            }
        </ul>
    </div>
}