@model sms.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sub_code }, new { @class = "btn btn-outline-secondary" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-outline-secondary" })
</p>
