@model sms.Models.Teacher

@{
    ViewBag.Title = "Teacher Details";
}
<div>
    <h4>Teacher Information</h4>
    <p>Teacher ID: @Model.TeacherID</p>
    <p>Name: @Model.FirstName @Model.LastName</p>
</div>

@if (Model.Student_Subject_Teacher_Allocation.Any())
{
    <div>
        <h4>Students and Subjects</h4>
        <ul>
            @foreach (var allocation in Model.Student_Subject_Teacher_Allocation)
            {
                <li>
                    <strong>@allocation.Student.FirstName @allocation.Student.LastName</strong> studies <em>@allocation.Subject.Name</em>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div>
        <p>No teacher or subject information available.</p>
    </div>
}



<script>

</script>
